@import "lsassets/scss/main";

.notification {
    background-color: getColor(ls-white);
    border: 1px solid getColor(ls-gray);
    border-left-color: getColor(ls-red);
    border-left-width: 5px;
    width: 100%;
    border-radius: 0.25rem;
    padding: 1rem 1rem 1rem 3rem;
    margin: ($spacing * 2) auto;
    line-height: 1.5rem;

    &__icon {
        margin-top: -0.4rem;
        margin-right: 0.5rem;
        margin-left: -2rem;
        width: 1.25rem;
        text-align: center;
        float: left;
        color: getColor(ls-red);
        font-size: 36px;
    }

    &__title {
        font-weight: 700;
    }
}
