@import "lsassets/scss/main";

.input {
    font-size: 1.25rem;
    line-height: normal;
    padding: 0.75rem;
    border: 1px solid getColor(ls-dark-gray);
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    color: getColor(ls-darker-gray);
    width: 100%;
    max-width: 100%;
    min-width: 150px;
    margin: 0 0 $spacing;
    font-variant-ligatures: none;
    -webkit-transition: box-shadow 70ms ease-out, border-color 70ms ease-out;
    -moz-transition: box-shadow 70ms ease-out, border-color 70ms ease-out;
    transition: box-shadow 70ms ease-out, border-color 70ms ease-out;
    box-shadow: none;
    height: auto;
    flex-shrink: 10;
    flex-grow: 10;

    &--right {
        text-align: right;
    }

    &--error {
        border: 1px solid getColor(ls-red);
        background: getColor(ls-low-red);
    }

    @include breakpoint(mobile) {
        width: 100%;
    }
}
