@import "lsassets/scss/main";

.button {
    padding: 14px 32px 16px;
    font-size: 20px;
    width: 100%;
    background: getColor(ls-green);
    color: getColor(ls-white);
    transition: all 75ms ease-in-out;
    line-height: 1.2rem;
    font-weight: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    text-shadow: none;
    border: none;
    border-radius: 0.25rem;
    box-shadow: none;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    white-space: nowrap;
    margin: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;

    &:hover {
        filter: brightness(1.1);
    }

    &--disabled {
        background-color: getColor(ls-gray);
        cursor: not-allowed;
        &:hover {
            filter: brightness(1);
        }
    }
}
