@import "../main";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: $font-body;
    color: getColor(ls-black);
    background: getColor(ls-light-gray);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: getColor(ls-blue);
    text-decoration: none;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }

    &:active {
        text-decoration: none;
    }
}

p,
ul,
ol {
    margin: 0 0 $component_margin;
    color: getColor(ls-black);
    line-height: 1.4;
}

i {
    color: getColor(fc-orange);
}

p:last-child,
ul:last-child,
ol:last-child {
    margin-bottom: 0;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: $spacing;
}

// Images

img {
    max-width: 100%;
    height: auto;
    border: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

svg:not(:root) {
    overflow: hidden;

    > * {
        pointer-events: none;
    }
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

.emphasis {
    color: getColor(ls-dark-gray);
}
