@font-face {
    font-family: "Lato", sans-serif;
    src: url("/fonts/Lato-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Lato", sans-serif;
    src: url("/fonts/Lato.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato", sans-serif;
    src: url("/fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Lato", sans-serif;
    src: url("/fonts/Lato-Black.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}
