@import "lsassets/scss/main";

.workspace-signin {
    min-width: 400px;

    @include breakpoint(mobile) {
        min-width: 100%;
    }

    &__wrapper {
        margin: 0 5% 2%;
        text-align: left;

        @include breakpoint(mobile) {
            margin: 1rem;
        }
    }

    &__title {
        margin-bottom: $spacing * 4;

        > h1 {
            margin-bottom: 0;
        }
    }

    &__domain {
        text-transform: capitalize;
    }

    &__instruction {
        margin-bottom: $spacing * 2;
    }

    &__form {
        margin-bottom: $spacing * 4;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-bottom: $spacing;

        > .button {
            margin-top: $spacing;
        }
    }
}
