$colors: (
    ls-black: #000000,
    ls-white: #ffffff,
    ls-light-gray: #f8f8f8,
    ls-gray: #dddddd,
    ls-dark-gray: #616061,
    ls-darker-gray: #1d1c1d,
    ls-green: #007a5a,
    ls-red: #e01e5a,
    ls-low-red: #fce9ef,
    ls-blue: #1264a3,
    ls-orange: #f58109,
    ls-low-orange: #ffeed0
);
