@import "lsassets/scss/main";

.signin {
    &__wrapper {
        margin: 2% 5%;
    }

    &__form {
        margin-bottom: $spacing * 4;

        &__domain-input {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            -ms-flex-pack: end;
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
            -moz-justify-content: flex-end;
            justify-content: flex-end;
            align-items: center;
            overflow: hidden;
            margin-bottom: $spacing;

            @include breakpoint(mobile) {
                flex-direction: column;
                -ms-flex-pack: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -moz-justify-content: center;
                justify-content: center;
            }

            &__input {
                flex-shrink: 10;
                flex-grow: 10;
                min-width: 150px;
                text-align: right;
                margin-right: $spacing !important;

                @include breakpoint(mobile) {
                    margin-right: 0 !important;
                }
            }

            &__placeholder {
                font-weight: 600;
                font-size: 1.3rem;
                flex-shrink: 0;
                flex-grow: 0;
                padding-bottom: $spacing;
            }
        }
    }
}
