@import "lsassets/scss/main";

.header {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: getColor(ls-white);
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 99;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 420ms
        cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: -moz-transform 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 420ms cubic-bezier(0.165, 0.84, 0.44, 1);

    > .logo {
        background-position: left bottom;
        background: url(/slack_logo.svg) left top no-repeat;
        background-size: contain;
        height: 30px;
        width: 106px;
        float: left;
        margin: 1.25rem;
    }
}
