@import "lsassets/scss/main";

.box {
    background-color: getColor(ls-white);
    border: 1px solid getColor(ls-gray);
    width: 100%;
    border-radius: 0.25rem;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    padding: 3rem 7rem;
    margin: 1rem auto 2rem;
    position: relative;
    text-align: center;

    @include breakpoint(mobile) {
        padding: 2rem 1rem;
    }
}
